@page
@model LockoutModel
@{
    ViewData["Title"] = "قفل شده است";
}

<header>
    <h1 class="text-danger">@ViewData["Title"]</h1>
    <p class="text-danger">این حساب قفل شده است، لطفاً بعداً دوباره امتحان کنید.</p>
</header>
