@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "بازنشانی تایید رمز عبور";
}

<h1>@ViewData["Title"]</h1>
<p>
    رمز عبور شما بازنشانی شده است. لطفا <a asp-page="./Login">برای ورود اینجا کلیک کنید</a>.
</p>
