@model CMSContent.Models.PageGroup

@{
    ViewData["Title"] = "حذف دسته بندی";
}

<h1><i class="fas fa-trash"></i> @ViewData["Title"]</h1>

<h3>آیا از حذف این دسته بندی اطمینان دارید؟</h3>
<div>
    @* <h4>PageGroup</h4> *@
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PageGroupTitle)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PageGroupTitle)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="PageGroupID" />
        <button type="submit" class="btn btn-danger"><i class="fas fa-trash"></i> حذف</button>
        <a asp-action="Index" class="btn btn-secondary"><i class="fas fa-long-arrow-alt-left"></i> بازگشت</a>
    </form>
</div>
