@model CMSContent.Models.PageGroup

@{
    ViewData["Title"] = "نمایش جزئیات دسته بندی";
}

<h1><i class="fas fa-info-circle"></i> @ViewData["Title"]</h1>

<div>
    @* <h4>PageGroup</h4> *@
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PageGroupTitle)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PageGroupTitle)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.PageGroupID" class="btn btn-primary"> ویرایش</a>
    <a asp-action="Index" class="btn btn-secondary"><i class="fas fa-long-arrow-alt-left"></i> بازگشت</a>
</div>
