@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

@if (SignInManager.IsSignedIn(User))
{
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle text-dark" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            مدیریت سایت
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item text-dark" asp-area="" asp-controller="PageGroups" asp-action="Index">مدیریت دسته بندی ها</a>
            <a class="dropdown-item text-dark" asp-area="" asp-controller="Pages" asp-action="Index">مدیریت صفحات</a>
        </div>
    </li>
}
